.project-carousel {
    max-width: 100%;
    margin: auto;
    text-align: center;
  }
  
  .project-card {
    padding: 20px;
    margin: 20px;

    border: 2px solid #CEDC00;
    border-radius: 12px;
    text-align: center;
    min-height: 400px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

    .project-image {
        justify-content: center;
      max-width: 100%;
      height: 90%;
      border-radius: 8px;
    }