/* skills.css */
.skills {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
}

.skills h3 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.skills ul {
  list-style-type: none;
  padding: 0;
}

.skills li {
  background: #ffffff;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.1em;
  color: #333;
}
