.header {
  text-align: center;
  background-color: #003d29;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-size: cover;
  filter: brightness(0) invert(1);
}

.behance { background-image: url('../assets/behance.svg'); }
.github { background-image: url('../assets/github.svg'); }
.linkedin { background-image: url('../assets/linkedin.svg'); }
.email { background-image: url('../assets/email.svg'); }